*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.center {
  display: flex;
  width: 100%;
  height: calc(
  90vh + 5px);
  justify-content: center;
  align-items: center;
  background-color: darkblue;
}

form input{
  
  height: 10vh;
  
}